/* Base reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #d0aaff, #b9f0ff);
}

/* Container box */
.container {
  background: rgba(255, 255, 255, 0.94);
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(100, 0, 200, 0.2);
  text-align: center;
  width: 320px;
}

/* Heading */
.container h2 {
  color: #6a0dad;
  font-size: 24px;
  margin-bottom: 20px;
}

/*Label */
.container label {
  font-size: 16px;
  color: #4b007d;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
} 

/* Input*/
.container input[type="number"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1.5px solid #bbb;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
} 

.container input[type="number"]:focus {
  border-color: #6a0dad;
  outline: none;
} 

/* Output */
#result {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}  